.main {
  width: 500px;
  max-width: 95%;
  margin: auto;
}

.passwordBox {
  margin: 20px auto;
}
.passwordBox input {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
}

.status {
  padding: 10px;
  color: #fff;
}

.strong {
  background-color: rgb(10, 121, 42);
}

.medium {
  background-color: rgb(250, 173, 5);
}

.weak {
  background-color: rgb(171, 0, 0);
}
