.tagInput {
  width: 900px;
  max-width: 90%;
  margin: 20px auto;
}

.tagInput input {
  font-size: 20px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.tagBox {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  box-shadow: -1px 1px 20px 2px rgb(0 0 0 / 10%);
}

.tags {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -2px 4px 13px 0px rgb(0 0 0 / 20%);
}

.deleteTag {
  font-size: 12px;
  cursor: pointer;
  color: #fa0;
  padding-left: 5px;
}
.deleteTag:hover {
  color: #000;
}
