:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.header {
  width: 90%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid #ccc 2px;
  position: relative;
  z-index: 1;
}

.header h1 {
  flex: 1 0 0;
  line-height: normal;
  font-weight: 400;
}

.homeLink {
  color: #fff;
  background-color: rgb(223, 132, 20);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
}

.homeLink:hover {
  background-color: rgb(196, 111, 8);
}

.githubIcon {
  width: 100px;
  height: auto;
}
